<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doze.mapper.DozeMapper">
    <!--搜索void search(String content);-->
    <select id="search" resultType="com.doze.pojo.Search">
        select * from doulai.song_list where song_name like '%' #{content} '%'
    </select>
    <!--单曲详细List<ReqSong> requestSong(int id);-->
    <select id="requestSong" resultType="com.doze.pojo.ReqSong">
        select * from doulai.song_list_detailed where id = #{id}
    </select>
    <!--今日推荐int recommendedToday();  Search idSearch(int id);  -->
    <select id="recommendedToday" resultType="java.lang.Integer">
        select count(*) from doulai.song_list
    </select>
    <select id="idSearch" resultType="com.doze.pojo.Search">
        select * from doulai.song_list where id = #{id}
    </select>
</mapper>